ul {
  /* 无序列表第一级：实心圆点 */
  list-style: disc;
  ul {
    /*list-style: circle;*/
    //FIXME 如果您可以改成没有空格，而仅用缩进控制的样式会更好
    list-style: "–";
    /*left: -0.8rem;*/
    ul {
      /* 无序列表第三极：小圈 */
      list-style: circle;
    }
  }
}

ol {
  /* 有序列表第一级：数字 */
  list-style: decimal;

  ol {
    counter-reset: liist;
    list-style: none;

    li {
      counter-increment: liist;
      position: relative;
    }

    li::marker {
      /* 有序列表第二级：括号加小写字母 */
      content: "(" counter(liist, decimal) ")";
    }

    ol {
      counter-reset: liiist;
      list-style: none;
      margin: 0;

      li {
        counter-increment: liiist;
      }

      li::marker {
        /* 有序列表第三级：小写罗马数字 */
        content: counter(liiist, lower-roman) ".";
        /* 为了让项目编号是重新用句点对齐而不是左对齐 */
        text-align: right;
      }
    }
  }
}

li {
  /* 文字与编号间的空隙编号 */
  // padding-left: 0.5em;
}

#write {
  ol,
  ul {
    /* 其他级列表缩进 */
    padding-inline-start: 0em;
    /* 块间距 */
    margin-block-start: var(--base-paragraph-margin);
    margin-block-end: var(--base-paragraph-margin);
  }

  & > ul,
  & > ol {
    /* 一级列表缩进 */
    padding-inline-start: 1em;
  }
}
